Repository DecodersCommunity/College-Notes, pull requests merged in 2021-10, with the labels that each got.

#1 Ayush Som - 200108026
  02.Second-Year-Notes/InformationTechnology/InformationTechnology.md
  02.Second-Year-Notes/InformationTechnology/Intro to Data Structure.pdf
Labels: bug, Hacktoberfest, hacktoberfest-accepted

#3 Readme.md file
  README.md
  fork.png
Labels: documentation, Hacktoberfest, hacktoberfest-accepted

#115 diagrams
  01.First-Year-Notes/Electrical-Engineering/data science.pptx
  01.First-Year-Notes/Electrical-Engineering/style.css
  03.Third-Year-Notes/ElectricalEngineering/diagrams.xml
  03.Third-Year-Notes/ElectricalEngineering/notes.electrical/shashank-rai-notes
Labels: Hacktoberfest, hacktoberfest-accepted, Notes

#114 Added Environment & Ecology Unit-3 Assignment
  01.First-Year-Notes/Environment-and-Ecology/Environment & Ecology Unit-3 Assignment/Environment and Ecology Unit-3 Assignment by Nitin Sharma.pdf
Labels: Hacktoberfest, hacktoberfest-accepted, Notes

#102 Added Matrices Notes
  01.First-Year-Notes/Mathematics-1/Matrices - Aastha Chauhan.pdf
Labels: Hacktoberfest, hacktoberfest-accepted, Notes

#117 Harsh Prajapati - 200104031
  01.First-Year-Notes/Physics/Friction-HarshPrajapati.pdf
Labels: Hacktoberfest, hacktoberfest-accepted
